<h1>{{ title }}</h1>
<div *ngIf="!session">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>
  <button mat-raised-button (click)="startSession()">Enter the chat room</button>
</div>
<div *ngIf="session">
  <mat-card>
    <mat-card-header>
      <h2>{{username}}</h2>
    </mat-card-header>
    <mat-card-content>
      <app-publisher [publisherName]="username" [session]="session"></app-publisher>
    </mat-card-content>
  </mat-card>
  <div class="subscribers">
    <mat-card *ngFor="let stream of streams">
      <mat-card-header>
        <h2>{{stream.name}}</h2>
      </mat-card-header>
      <mat-card-content>
        <app-subscriber
          [stream]="stream"
          [session]="session"
        ></app-subscriber>
      </mat-card-content>
    </mat-card>
  </div>
</div>
